.title{
  text-align: center; 
}
.head_title{
padding-top:30px;
height: 80px;
background-color:#147e4b;
}

body{
    /* background-color:rgb(236, 214, 84); */
    margin:0;
    
}
.title_h1{
    color:rgb(255, 254, 254);
    margin:0;
    text-align:center;
}

.input_r{
  margin:10px;
}
.input_r:hover{
  
  background-color:#147e4b;
  color:white;
}

.label_r:hover{
  color:#147e4b;
  font-size: 30px;
}

